<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin}">
<head>
    <title th:text="${title} ?: 'Categories List'"> Thể Loại </title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content">
    <h1>Thể Loại</h1>
    <div>
        <a th:href="@{/TheLoai/add}" class="btn btn-primary mb-3">Thêm Thể Loại</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Thể Loại</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="theloai : ${theloai}">
            <td th:text="${theloai.id}"></td>
            <td th:text="${theloai.TenTheLoai}"></td>
            <td>
                <a th:href="@{/TheLoai/edit/{id}(id=${theloai.id})}" class="btn
btn-success btn-sm">Edit</a>
                <a th:href="@{/TheLoai/delete/{id}(id=${theloai.id})}"
                   class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>