<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Register</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css">
</head>
<body class="bg-indigo-900">
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-indigo-500 bg-opacity-75 p-8 rounded-lg shadow-lg max-w-sm w-full">
        <h1 class="text-3xl text-center text-white mb-4">Login</h1>
        <form th:action="@{/register}" method="post" class="space-y-6">
            <div th:if="${param.error}" class="alert alert-danger text-white bg-red-500 py-2 px-4 rounded-lg">
            </div>
            <div>
                <label for="username" class="text-white">Username</label>
                <input type="text" id="username" name="username" class="w-full bg-transparent border-b border-white text-white focus:outline-none focus:border-indigo-400" required>
            </div>
            <div>
                <label for="password" class="text-white">Password</label>
                <input type="password" id="password" name="password" class="w-full bg-transparent border-b border-white text-white focus:outline-none focus:border-indigo-400" required>
            </div>
            <div>
                <label for="confirm-password">Confirm Password</label>
                <input type="password"  id="confirm-password" name="confirm-password" placeholder="Confirm your password"  class="w-full bg-transparent border-b border-white text-white focus:outline-none focus:border-indigo-400" required>
                <small id="passwordError" class="text-danger"></small>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email"  id="email" name="email" placeholder="Enter your email"  class="w-full bg-transparent border-b border-white text-white focus:outline-none focus:border-indigo-400" required>

            </div>

            <button type="submit" id="registrationForm" class="w-full bg-indigo-500 text-white py-2 rounded-lg hover:bg-indigo-600 transition-all">Sign up</button>
            <p class="mt-3 mb-0 text-white text-center">Don't have an account? <a href="/login" class="text-indigo-400">Login?</a></p>
        </form>
    </div>
</div>
</body>
</html>
<script>
    const passwordInput = document.getElementById('password');
    const confirmPasswordInput = document.getElementById('confirm-password');
    const passwordError = document.getElementById('passwordError');
    const registrationForm = document.getElementById('registrationForm');

    registrationForm.addEventListener('submit', function(event) {
        if (confirmPasswordInput.value !== passwordInput.value) {
            passwordError.textContent = 'Passwords do not match.';
            event.preventDefault();
        } else {
            passwordError.textContent = '';
        }
    });
</script>